.horizontalBoxes{
    display: flex;
    justify-content: space-around;
}

.verticalBoxes{
    display: grid;
    grid-template-rows: repeat(2, 200px);
    grid-template-columns: repeat(2, 800px);
}

.box1, .box2, .box3, .box4, .box5 {
    border: 1px solid black;
    border-radius: 10px;
    padding: 30px;
    margin: 10px;
    width: 25%;
    cursor: pointer;
}

.box1{
    background-color: rgb(104, 104, 182);
    color: white;
}
.box2{
    background-color: rgb(104, 182, 133);
    color: white;
}

.box3{
    background-color: rgb(182, 104, 169);
    color: white;
}

.box4{
    background-color: rgb(177, 182, 104);
    color: white;
}

.box5{
    background-color: rgb(181, 88, 88);
    color: white;
}